:root {
    --primary-color: lightblue;
    --secondary-color: black;
    --tertiary-color: grey;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: lightgrey;
  color: black;
  }
  